<header>
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />

            <div id="hamburgerHolder">
                <img src="https://media.discordapp.net/attachments/963907404007870566/965158875198267402/HackDavis22-21-2.png"/>
                <div id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            
            <ul id="menu">
                <a href="/map"><li>Map of Cats</li></a>
                <a href="/cat"><li>List of Cats</li></a>
                <a href="/cat/new"><li>Add a Cat</li></a>
                <a href="/info"><li>Info</li></a>
            </ul>
        </div>
    </nav>

    <div id="logo-holder">
        <div id="logo-circle">
            <a href="/"><img id="logo" src="https://media.discordapp.net/attachments/963907404007870566/965055866137104484/Locat.gif"/></a>
        </div>
    </div>
</header>
