# packages in environment at /Users/karim/miniforge3/envs/gcloud:
#
# Name                    Version                   Build  Channel
absl-py                   1.0.0                    pypi_0    pypi
aiohttp                   3.8.1            py38h33210d7_1    conda-forge
aiosignal                 1.2.0              pyhd8ed1ab_0    conda-forge
astunparse                1.6.3                    pypi_0    pypi
async-timeout             4.0.2              pyhd8ed1ab_0    conda-forge
attrs                     21.4.0             pyhd8ed1ab_0    conda-forge
autopep8                  1.6.0              pyhd8ed1ab_1    conda-forge
brotlipy                  0.7.0           py38h33210d7_1004    conda-forge
bzip2                     1.0.8                h3422bc3_4    conda-forge
c-ares                    1.18.1               h3422bc3_0    conda-forge
ca-certificates           2021.10.8            h4653dfc_0    conda-forge
cached-property           1.5.2                hd8ed1ab_1    conda-forge
cached_property           1.5.2              pyha770c72_1    conda-forge
cachetools                4.2.4              pyhd8ed1ab_0    conda-forge
certifi                   2021.10.8        py38h10201cd_2    conda-forge
cffi                      1.15.0           py38hc67bbb8_0    conda-forge
charset-normalizer        2.0.12             pyhd8ed1ab_0    conda-forge
cryptography              36.0.2           py38h7f91714_1    conda-forge
curl                      7.82.0               hb0e6552_0    conda-forge
expat                     2.4.8                h6b3803e_0    conda-forge
flatbuffers               2.0                      pypi_0    pypi
freetype                  2.10.4               h17b34a0_1    conda-forge
frozenlist                1.3.0            py38h33210d7_1    conda-forge
gast                      0.5.3                    pypi_0    pypi
gettext                   0.19.8.1          h049c9fb_1008    conda-forge
giflib                    5.2.1                h27ca646_2    conda-forge
git                       2.35.2          pl5321h8b11ce0_0    conda-forge
gitdb                     4.0.9              pyhd8ed1ab_0    conda-forge
gitpython                 3.1.27             pyhd8ed1ab_0    conda-forge
google-api-core           1.31.5             pyhd8ed1ab_0    conda-forge
google-api-core-grpc      1.31.5               hd8ed1ab_0    conda-forge
google-auth               1.35.0             pyh6c4a22f_0    conda-forge
google-auth-oauthlib      0.4.6                    pypi_0    pypi
google-cloud-vision       2.7.2              pyhd8ed1ab_0    conda-forge
google-pasta              0.2.0                    pypi_0    pypi
googleapis-common-protos  1.56.0           py38h10201cd_0    conda-forge
grpcio                    1.45.0           py38hcb8a1bf_0    conda-forge
h5py                      3.6.0           nompi_py38hacf61ce_100    conda-forge
hdf5                      1.12.1          nompi_hf9525e8_104    conda-forge
idna                      3.3                pyhd8ed1ab_0    conda-forge
importlib-metadata        4.11.3                   pypi_0    pypi
jbig                      2.1               h3422bc3_2003    conda-forge
joblib                    1.1.0              pyhd8ed1ab_0    conda-forge
jpeg                      9e                   h3422bc3_0    conda-forge
keras                     2.8.0                    pypi_0    pypi
keras-preprocessing       1.1.2                    pypi_0    pypi
krb5                      1.19.3               hf9b2bbe_0    conda-forge
lcms2                     2.12                 had6a04f_0    conda-forge
lerc                      3.0                  hbdafb3b_0    conda-forge
libblas                   3.9.0           14_osxarm64_openblas    conda-forge
libcblas                  3.9.0           14_osxarm64_openblas    conda-forge
libclang                  13.0.0                   pypi_0    pypi
libcurl                   7.82.0               hb0e6552_0    conda-forge
libcxx                    13.0.1               h6a5c8ee_0    conda-forge
libdeflate                1.10                 h3422bc3_0    conda-forge
libedit                   3.1.20191231         hc8eb9b7_2    conda-forge
libev                     4.33                 h642e427_1    conda-forge
libffi                    3.4.2                h3422bc3_5    conda-forge
libgfortran               5.0.0.dev0      11_0_1_hf114ba7_23    conda-forge
libgfortran5              11.0.1.dev0         hf114ba7_23    conda-forge
libiconv                  1.16                 h642e427_0    conda-forge
liblapack                 3.9.0           14_osxarm64_openblas    conda-forge
libnghttp2                1.47.0               he723fca_0    conda-forge
libopenblas               0.3.20          openmp_h2209c59_0    conda-forge
libpng                    1.6.37               hf7e6567_2    conda-forge
libprotobuf               3.19.4               hccf11d3_0    conda-forge
libssh2                   1.10.0               hb80f160_2    conda-forge
libtiff                   4.3.0                h77dc3b6_3    conda-forge
libwebp                   1.2.2                h0d20362_0    conda-forge
libwebp-base              1.2.2                h3422bc3_1    conda-forge
libxcb                    1.13              h9b22ae9_1004    conda-forge
libzlib                   1.2.11            h90dfc92_1014    conda-forge
llvm-openmp               13.0.1               h455960f_1    conda-forge
lz4-c                     1.9.3                hbdafb3b_1    conda-forge
markdown                  3.3.6                    pypi_0    pypi
multidict                 6.0.2            py38h33210d7_1    conda-forge
ncurses                   6.3                  h07bb92c_1    conda-forge
ninja                     1.10.2               hc021e02_1    conda-forge
numpy                     1.21.6           py38hf29d37f_0    conda-forge
oauthlib                  3.2.0                    pypi_0    pypi
openjpeg                  2.4.0                h062765e_1    conda-forge
openssl                   1.1.1n               h90dfc92_0    conda-forge
opt-einsum                3.3.0                    pypi_0    pypi
packaging                 21.3               pyhd8ed1ab_0    conda-forge
pandas                    1.4.2            py38h55de146_1    conda-forge
pcre2                     10.37                hc5de063_0    conda-forge
perl                      5.32.1          2_h9b22ae9_perl5    conda-forge
pickle5                   0.0.11                   pypi_0    pypi
pillow                    9.1.0            py38h7ff1586_2    conda-forge
pip                       22.0.4             pyhd8ed1ab_0    conda-forge
proto-plus                1.20.1             pyhd8ed1ab_0    conda-forge
protobuf                  3.19.4           py38h6f2b01f_0    conda-forge
pthread-stubs             0.4               h27ca646_1001    conda-forge
pyasn1                    0.4.8                      py_0    conda-forge
pyasn1-modules            0.2.7                      py_0    conda-forge
pycodestyle               2.8.0              pyhd8ed1ab_0    conda-forge
pycparser                 2.21               pyhd8ed1ab_0    conda-forge
pyopenssl                 22.0.0             pyhd8ed1ab_0    conda-forge
pyparsing                 3.0.8              pyhd8ed1ab_0    conda-forge
pysocks                   1.7.1            py38h10201cd_5    conda-forge
python                    3.8.13          h7e095e3_0_cpython    conda-forge
python-dateutil           2.8.2              pyhd8ed1ab_0    conda-forge
python_abi                3.8                      2_cp38    conda-forge
pytorch                   1.11.0          cpu_py38h1b6422d_0    conda-forge
pytz                      2022.1             pyhd8ed1ab_0    conda-forge
pyu2f                     0.1.5              pyhd8ed1ab_0    conda-forge
readline                  8.1                  hedafd6a_0    conda-forge
requests                  2.27.1             pyhd8ed1ab_0    conda-forge
requests-oauthlib         1.3.1                    pypi_0    pypi
rsa                       4.8                pyhd8ed1ab_0    conda-forge
scikit-learn              1.0.2            py38h2cd4032_0    conda-forge
scipy                     1.8.0            py38hd0c9ec0_1    conda-forge
setuptools                62.1.0           py38h10201cd_0    conda-forge
six                       1.16.0             pyh6c4a22f_0    conda-forge
sleef                     3.5.1                h156473d_2    conda-forge
smmap                     3.0.5              pyh44b312d_0    conda-forge
sqlite                    3.38.2               h7e3ccbd_0    conda-forge
tensorboard               2.8.0                    pypi_0    pypi
tensorboard-data-server   0.6.1                    pypi_0    pypi
tensorboard-plugin-wit    1.8.1                    pypi_0    pypi
tensorflow-deps           2.8.0                         0    apple
tensorflow-macos          2.8.0                    pypi_0    pypi
termcolor                 1.1.0                    pypi_0    pypi
tf-estimator-nightly      2.8.0.dev2021122109          pypi_0    pypi
threadpoolctl             3.1.0              pyh8a188c0_0    conda-forge
tk                        8.6.12               he1e0b03_0    conda-forge
toml                      0.10.2             pyhd8ed1ab_0    conda-forge
torchvision               0.12.0                   pypi_0    pypi
typing-extensions         4.1.1                hd8ed1ab_0    conda-forge
typing_extensions         4.1.1              pyha770c72_0    conda-forge
urllib3                   1.26.9             pyhd8ed1ab_0    conda-forge
werkzeug                  2.1.1                    pypi_0    pypi
wheel                     0.37.1             pyhd8ed1ab_0    conda-forge
wrapt                     1.14.0                   pypi_0    pypi
xorg-libxau               1.0.9                h27ca646_0    conda-forge
xorg-libxdmcp             1.1.3                h27ca646_0    conda-forge
xz                        5.2.5                h642e427_1    conda-forge
yarl                      1.7.2            py38h33210d7_2    conda-forge
zipp                      3.8.0                    pypi_0    pypi
zlib                      1.2.11            h90dfc92_1014    conda-forge
zstd                      1.5.2                h861e0a7_0    conda-forge
