<html>
    <head>
        <title>Locat Information</title>
        
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/header.ejs') %>

        <content>
            <h1>About Locat</h1><br><br>
            <p>Locat lets you view cute kitties in your area on a map. By going to a cat's page, you can learn more information about them. We use crowdsourced information to determine a cat's location and attributes. We also use machine learning to assist with searching of cats. Please feel free to contribute!</p><br><br>
            <h1>About Attributes</h1><br><br>
            <p class="infopl"><img class="largeimg" src="/images/Feed.png">Some cats get too many cats from human friends, and get overweight because of it. These cats have dedicated feeders, and others should not feed these cats.</p><br><br>
            <p class="infopr"><img class="largeimg" src="/images/Pet.png">Some cats really like their personal space! Please be respectful if a kitty doesn't want to be pet.</p><br><br>
            <p class="infopl"><img class="largeimg" src="/images/Neutered.png">Cats are an invasive species and are a detriment to other wildlife. Programs will catch and fix cats so that they can not reproduce. Often times these programs will take a notch out of their ear to identify cats that are fixed.</p><br><br>
        </content>
    </body>
</html>
