<html>
    <head>
        <title>Locat Information</title>
        
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/header.ejs') %>

        <content>
            <p>Cats. They eat birds and stuff. Do not let them. Also don't feed them too much. Also do the snip snip to make them stop making babies.</p>
        </content>
    </body>
</html>
