<html>
    <head>
        <title>Message Sent!</title>
    
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>
        <content>
            <div class="vert">
                <h1>Message sent!</h1>
                <a class="navbutton" href="/map">Go Back To Map</a>
            </div>
        </content>
    </body>
</html>
