<html>
    <head>
        <title>Add a Cat</title>
    
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>

        <content>
            <h1>Add a Cat</h1>
            <form method="post" enctype="multipart/form-data">
                <label for="name">Cat Name</label>
                <input type="text" id="name" name="name" placeholder="Cat name">

                <div id="upload-button-wrapper">
                    <button id="upload-button">Upload Cat Photo</button>
                    <input type="file" id="file" name="picture" />
                </div><br/>
                                
                <input type="checkbox" id="canpet" name="canpet" value="canpet">
                <label class="light" for="canpet">Petting Okay</label><br/>
                
                <input type="checkbox" id="canfeed" name="canfeed" value="canfeed">
                <label class="light" for="canfeed">Feeding Okay</label><br/>

                <input type="checkbox" id="fixed" name="fixed" value="fixed">
                <label class="light" for="fixed">Fixed</label><br/>
                
                <input type="checkbox" id="healthy" name="healthy" value="healthy">
                <label class="light" for="healthy">Healthy</label>

                <label for="remarks">Remarks</label>
                <input type="text" id="remarks" name="remarks" placeholder="This cat is very cute!">
                
                <br/>
                <br/>

                <label for="caretaker">Caretaker Name</label>
                <input type="text" id="caretaker" name="caretaker" placeholder="Cat's caretaker">

                <label for="caretakernumber">Caretaker Phone Number (Kept private, std. rates apply.)</label>
                <input type="text" id="caretakernumber" name="caretakernumber">


                

                <button type="submit">Submit</button>

            </form>
        </content>
    </body>
</html>
