<html>
    <head>
        <title>Locat Map</title>
    
        <link rel="stylesheet" type="text/css" href="/css/meow.css" />

    <body>
        <h1>Add a Cat</h1>
        <form>
            <label for="name">Cat Name</label><br>
            <input type="text" id="name"><br>

            <label for="latitude">Latitude</label><br>
            <input type="text" id="latitude" name="latitude"><br>

            <label for="longitude">Longitude</label><br>
            <input type="text" id="longitude" name="latitude"><br>
            
            <label for="canpet">Petting Okay</label>
            <input type="checkbox" id="canpet" name="canpet" value="canpet"><br>

            <label for="canfeed">Feeding Okay</label>
            <input type="checkbox" id="canfeed" name="canfeed" value="canfeed"><br>

            <label for="fixed">Fixed</label>
            <input type="checkbox" id="fixed" name="fixed" value="fixed"><br>

            <label for="healthy">Healthy</label>
            <input type="checkbox" id="healthy" name="healthy" value="healthy"><br>

            <label for="caretaker">Caretaker Name</label><br>
            <input type="text" id="caretaker" name="caretaker"><br>

            <label for="remarks">Caretaker Name</label><br>
            <input type="text" id="remarks" name="remarks"><br>

            <input type="submit" value="Submit">

        </form>
    </body>
</html>
