<html>
    <head>
        <title>View <%= name %></title>
    
        <link rel="stylesheet" type="text/css" href="/css/meow.css" />

    <body>
        <h1><%= name %></h1>
        <p>Such a cutie!</p>
    </body>
</html>
