<html>
    <head>
        <title>View <%= name %></title>
    
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>

        <content>
            <h1><%= name %></h1>
            <p>Such a cutie!</p>
        </content>
    </body>
</html>
