<html>
    <head>
        <title>View <%= name %></title>
    
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>

        <h1><%= name %></h1>
        <p>Such a cutie!</p>
    </body>
</html>
