.cat-content {
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    color: #384047;
}

.cat-header {
    display: flex;
    align-items: center;
}

.cat-header a {
    text-decoration: none;
    color: inherit;
}

.cat-header a:hover {
    color: tomato;
}

.cat-paw {
    height: 96px;
    width: 96px;
    object-fit: cover;
    border-radius: 100%;

    margin-right: 1em;
}

.cat-icons img {
    width: 50px;
}

.cat-header {
    margin-bottom: 1em;
}

.cat-content h2 {
    font-weight: bold;
    font-size: 32px;
}

.cat-content p {
    font-size: 16px;
}
