body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  position: absolute;
  pointer-events: none;
  z-index: 69;
}

nav {
  pointer-events: all;
}

.cat-header {
  display: flex;
  align-items: center;
}

.cat-header a {
  text-decoration: none;
  color: inherit;
}

.cat-header a:hover {
  color: tomato;
}

.cat-paw {
  width: 64px;
}

/* Set the size of the div element that contains the map */
#map {
  width: 100%;
  /* The width is the width of the web page */

  /* this will make the map take up the rest of the page */
  flex-grow: 1;
}

